{
    "name": "{{=it.name}}",
    "version": "0.0.1",
    "dependencies": {
        "spoon.js": "git@github.com:IndigoUnited/spoon.js.git",
        "jquery": "1.8.x",
        "requirejs": "2.0.x",
        "requirejs-text": "2.0.x",
        "curl": "0.7.x",
        "doT": "latest"
    }
}